:root {
    /* Colors */
    --brandColor: #c09859;
    --lightBrandColor: #F5E9D5;

    /* Fonts */
    --headerFontFamily: Alegreya,serif;
    --bodyFontFamily: "Alegreya Sans",Helvetica,Arial,sans-serif;
}
