---
title: Guides to mobile by Matt Oakes - Freelance Mobile App Developer
layout: layout.hbs
twitter: true
priority: 0.2
---

<div class="guide-page-index">
  <div class="row">
    {{#each (map-collection collections.guides)}}
      <div class="guide-page-index-entry">
        <h3>{{this.title}}</h3>
        <p>{{this.brief}}</p>
        <div class="buttons">
            <div class="button"><a href="{{this.url}}">Read the guide</a></div>
        </div>
      </div>
    {{/each}}
  </div>
</div>