---
title: Mobile Web or Mobile App?
layout: layout.hbs
twitter: true
priority: 0.8
collection: guides
---

<div class="guide-page">
    <section class="guide-page-section">
        <h2>Mobile Web or Mobile App?</h2>
        <p>As the <a href="http://media.ofcom.org.uk/facts/">number of people using smartphones continues to rise</a>, more companies are looking to take their business mobile. However, is a mobile website enough or would you benefit from a mobile app?</p>
        <p>Smartphones have two main methods for accessing information. Firstly, users can use a web browser, such as Safari or Google Chrome, to access mobile websites. Alternatively, they can install apps onto their phone from the App Store or Google Play Store. Both methods are able to provide most of the same functionality, however, each has their own traits which make them better suited for certain types of businesses.</p>
    </section>

    <section class="guide-page-section">
        <h3>Mobile Websites</h3>
        <p>Mobile websites have the major advantage that they do not require the user to install anything before being used. All that users need to do is enter the web address into their browser or click a link from elsewhere on the web. This makes mobile websites perfect for companies who have content which is usually discovered by search or is highly shareable.</p>
        <p>While you are able to provide much of the same functionality as a mobile app, there are some areas where mobile websites fall short—one of these is engagement. Because the users have not installed anything on their device, there is very little to remind them about your business. On most phones, <a href="http://webdesign.tutsplus.com/articles/quick-tip-give-your-website-an-ios-home-screen-icon--webdesign-10067">it is possible to ask users to add your web page to their home screen</a>, however, this is something that the majority of your users won't do.</p>
        <p>Overall, having a mobile website is great for allowing customers to quickly access your company's content as easily as possible and share it with others. It is perfect for news articles, recipes, or for services which users access infrequently but need access as easily as possible, such as looking up the location and menu of a restaurant.</p>
    </section>

    <section class="guide-page-section">
        <h3>Mobile Apps</h3>
        <p>The first and most noticeable difference of an app compared to a website is how they are accessed. Apps must be installed by the user from either the <a href="https://itunes.apple.com/en/genre/ios/id36?mt=8">App Store</a> or <a href="https://play.google.com/store">Google Play Store</a> before they can be used. This adds extra steps and will lead to only engaged customers installing your app.</p>
        <p>There are however some benefits to having an app. One is that you are able to take advantage of push notifications. Push notifications allow you to send a message to a user, or a group of users, to be displayed on their lock screen and in their notification drawer. In the latest versions of iOS and Android, you can add rich information, such as pictures, and take them directly to a specific part of your app when the message is tapped.</p>
        <p>Some of the most common uses of push notifications are to let customers know about something which has just happened on your service, for example, a friend has liked their tweet. Another common use for or provide personalised recommendations or offers. These could be triggered, for example, when an item on their wishlist goes on sale. Push Notifications are flexible and you should treat it like a marketing channel directly to your most valuable customers on their most personal device.</p>
        <p>Having a mobile app also allows you to make better use of the full capabilities of your user’s device. For example, while mobile websites do have access to information such as the user’s location via GPS, they can only access this information while the website is open. Having an app allows you (with your user’s permission) to keep track of their location in the background, which is a necessary feature for navigation and fitness tracking apps.</p>
        <p>Although the number of users accessing your content or service through your app are often lower than through your mobile website, the users of your app are likely to be your better converting and most active customers. Having these users install a mobile app will allow you to leverage capabilities such as push notifications and deep device integration to turn them into even better customers.</p>
    </section>

    <section class="guide-page-section">
        <p>If you need help with your mobile strategy contact me and I will help ensure your mobile presence is a perfect fit for your business. If however you have decided an app is the right way to go, contact me and I will develop an app which works well for your users and helps your business grow.</p>
    </section>

    <section class="guide-page-section guide-page-contact">
        {{> contact-button }}
    </section>
</div>
