---
title: Freelance Mobile App Developer in Brighton & London
guideTitle: Native Mobile App Development
layout: layout.hbs
twitter: true
priority: 0.9
collection: guides
---

<div class="guide-page">
    <section class="guide-page-section">
        <h2>Guide to Native Mobile App Development</h2>
        <p>Native Mobile Development is done by using the officially provided frameworks from Google and Apple. For Android, this involves writing Java or Kotlin code, while on iOS this means writing Swift.</p>
        <p>I have worked extensively with both Android and iOS and I always ensure your application is built to the highest possible standard using the official frameworks.</p>
    </section>

    <section class="guide-page-section advantages">
        <h3>Advantages</h3>
        <ul>
            <li>The frameworks are officially support by Google & Apple.</li>
            <li>Able to build the highest performance apps possible.</li>
            <li>Can take advantage of all the official frameworks to tightly integrate with the users phone.</li>
        </ul>
    </section>

    <section class="guide-page-section disadvantages">
        <h3>Disadvantages</h3>
        <ul>
            <li>Need to develop the application separately for each platform.</li>
            <li>Cannot share any code between iOS & Android.</li>
            <li>Development times can be slower than using a tool such as <a href="/react-native/">React Native</a>.</li>
        </ul>
    </section>

    <section class="guide-page-section guide-page-contact">
        {{> contact-button }}
    </section>
</div>
