---
title: Freelance React Native Mobile App Developer in Brighton & London
collectionTitle: React Native App Development
layout: layout.hbs
twitter: true
priority: 0.9
collection: guides
---

<div class="guide-page">
    <section class="guide-page-section">
        <h2>React Native Developer</h2>
        <p>React Native is a cross platform mobile framework created for use at Facebook and Instagram and open sourced in 2015. It has since grown into a community of companies and developers who are using it to create many different mobile applications.</p>
        <p>I have created many applications for my clients using React Native. Previously, I have worked with <a href="/native-development/">both Android and iOS natively</a>. I can use this experience to make the best of React Native's advantages and ensure your application is built to the highest possible standard.</p>
    </section>

    <section class="guide-page-section advantages">
        <h3>Advantages</h3>
        <ul>
            <li>Quicker to create the app.</li>
            <li>Can usually share over 90% of the app code between platforms.</li>
            <li>Can mix and match between React Native and "Real" native where needed.</li>
        </ul>
    </section>

    <section class="guide-page-section disadvantages">
        <h3>Disadvantages</h3>
        <ul>
            <li>Not officially support by Apple or Google.</li>
            <li>React Native has not yet reached 1.0 maturity.</li>
            <li>Very performant, but not always 100% the same as a native application.</li>
        </ul>
    </section>

    <section class="guide-page-section guide-page-contact">
        {{> contact-button }}
    </section>
</div>
