---
title: What information is needed for an Apple App Store listing?
layout: layout.hbs
twitter: true
priority: 0.8
collection: guides
---

<div class="guide-page">
    <section class="guide-page-section">
        <h2>What information is needed for an Apple App Store listing?</h2>
        <p>You’ve signed up to the <a href="https://developer.apple.com/programs/">Apple Developer Program</a>, designed a brilliant app, and built it, but you need to create the perfect App Store listing to show it off to the world.</p>
        <p>To create an amazing listing, it is very useful I have a checklist of each item. Apple’s official documentation provides lots of the technical details, but is very heavy and confusing if you’re not familiar with the process.</p>
        <p>Below, I’ve published the checklist I send to my clients, with all the required information for an Apple App Store listing. Hopefully, it’s useful for you too!</p>
    </section>

    <section class="guide-page-section">
        <h3>1. App Name</h3>
        <p>Used as the name of your application in search results and on the details page. It can be different from the name that is displayed on the user’s home screen once they have downloaded your app.</p>
        <p>You can use a maximum of 50 characters.</p>
        <p>I recommend you try and put the main keywords you think people will be searching for inside the title, for example use Magic Doctor — Symptom Checker instead of just Magic Doctor.</p>
    </section>

    <section class="guide-page-section">
        <h3>2. Description</h3>
        <p>A description about your application and what it does. Carefully select a set of keywords that best represent your app and what users will search for to find your app and use them in your description.</p>
        <p>You can use a maximum of 4000 characters.</p>
    </section>

    <section class="guide-page-section">
        <h3>3. Keywords</h3>
        <p>Some keywords that describe your application, separated by commas. Try to choose keywords which you think your users will be searching for.</p>
        <p>You can use a maximum of 100 characters.</p>
    </section>

    <section class="guide-page-section">
        <h3>4. Category</h3>
        <p>This changes which category your application is shown under in the App Store. Each category has its own <em>Top Apps</em> list. You have to choose a primary category and you can optionally choose a secondary category if you wish.</p>
        <p>You can pick from these categories:</p>
        <ul>
          <li>Book</li>
          <li>Business</li>
          <li>Catalogs</li>
          <li>Education</li>
          <li>Entertainment</li>
          <li>Finance</li>
          <li>Food &amp; Drink</li>
          <li>Games</li>
          <li>Health &amp; Fitness</li>
          <li>Lifestyle</li>
          <li>Medical</li>
          <li>Music</li>
          <li>Navigation</li>
          <li>News</li>
          <li>Newsstand</li>
          <li>Photo &amp; Video</li>
          <li>Productivity</li>
          <li>Reference</li>
          <li>Sports</li>
          <li>Social Networking</li>
          <li>Travel</li>
          <li>Utilities</li>
          <li>Weather</li>
        </ul>
        <p>If you select the <em>Games</em> category you must also pick two sub-categories:</p>
        <ul>
          <li>Action</li>
          <li>Adventure</li>
          <li>Arcade</li>
          <li>Board</li>
          <li>Card</li>
          <li>Casino</li>
          <li>Dice</li>
          <li>Educational</li>
          <li>Family</li>
          <li>Music</li>
          <li>Puzzle</li>
          <li>Racing</li>
          <li>Role Playing</li>
          <li>Simulation</li>
          <li>Sports</li>
          <li>Strategy</li>
          <li>Trivia</li>
          <li>Word</li>
        </ul>
    </section>

    <section class="guide-page-section">
        <h3>5. Pricing</h3>
        <p>Pricing is organised into various tiers:</p>
        <ul>
          <li>Tier 0: Free</li>
          <li>Tier 1: $0.99</li>
          <li>Tier 2: $1.99</li>
          <li>Tier 3: $2.99</li>
          <li>Tier 4: $3.99</li>
          <li>Tier 5: $4.99</li>
          <li>etc.</li>
        </ul>
        <p>These prices will automatically be converted into the local currency for each country and may be adjusted periodically by Apple.</p>
    </section>

    <section class="guide-page-section">
        <h3>6. High resolution icon</h3>
        <p>You must provide an image in PNG format of your app icon that is exactly 1024 by 1024 pixels at at least 72 DPI using the RGB colour space. I recommend that it is consistent with your app icon.</p>
    </section>

    <section class="guide-page-section">
        <h3>7. Screenshots</h3>
        <p>At least one screenshot is required for every type of device that your application supports. To save you time, you can choose for smaller iPhones to use the screenshots from the larger one. You can therefore just create and upload the iPhone 5.5-inch (iPhone 7 Plus) size and the other iPhones will use those images as well.</p>
        <p>Each image must be in PNG or JPEG format and at 72 DPI using the RGB colour space, flattened and with no transparency. You can have a maximum of 5 screenshots for each type. The different device types are:</p>
        <ul>
          <li>iPhone 3.5 inch: 640 by 960 pixels</li>
          <li>iPhone 4 inch: 640 by 1136 pixels</li>
          <li>iPhone 4.7-inch: 750 by 1334 pixels</li>
          <li>iPhone 5.5-inch: 1242 by 2208 pixels</li>
          <li>iPad: 2048 by 1536 pixels</li>
        </ul>
    </section>

    <section class="guide-page-section">
        <h3>8. App Preview Video</h3>
        <p>An app preview demonstrates the features, functionality, and user interface of your app in a short video that users can watch right on the App Store. Each preview is between 15 and 30 seconds long and is displayed as the first image on your App Store product page, followed by your app screenshots.</p>
        <p>Take a look at <a href="https://developer.apple.com/app-store/app-previews/">Apple’s official guidelines</a> for more details on what the video should contain and the <a href="https://developer.apple.com/library/content/documentation/LanguagesUtilities/Conceptual/iTunesConnect_Guide/Appendices/Properties.html#//apple_ref/doc/uid/TP40011225-CH26-SW10">technical documentation</a> for the resolution and codec the video should be rendered in.</p>
    </section>

    <section class="guide-page-section">
        <h3>9. App review contact details</h3>
        <p>Contact details where Apple can contact you if there is an issue while reviewing your application. This is not published publicly for users to see.</p>
        <p>You need to provide a name, postal address, phone number, and email address.</p>
    </section>

    <section class="guide-page-section">
        <h3>10. Availability</h3>
        <p>When you submit your application you can choose to have it publicly available as soon as it is accepted by the Apple review team, or you can choose a specific date when the application will be available. Your application will be available in all countries unless you choose otherwise. I recommend not restricting availability of your app to certain countries.</p>
    </section>

    <section class="guide-page-section">
        <h3>11. SKU Number</h3>
        <p>A unique number you use internally for accounting purposes. It is used as a unique product reference ID on the sales reports. Using a lowercase version of the app name with no spaces is my recommendation.</p>
    </section>

    <section class="guide-page-section">
        <h3>12. Marketing URL</h3>
        <p>A website URL with details about your application. This can either be your homepage or ideally a page on your website specifically for the application.</p>
    </section>

    <section class="guide-page-section">
        <h3>13. Support URL</h3>
        <p>A website URL where users can contact you for support.</p>
    </section>

    <section class="guide-page-section">
        <h3>14. Privacy policy</h3>
        <p>A URL where users can read your privacy policy.</p>
    </section>

    <section class="guide-page-section">
        <h3>15. End User Licence Agreement (EULA)</h3>
        <p>You can supply your own EULA or you can use <a href="http://www.apple.com/legal/internet-services/itunes/appstore/dev/stdeula/">the default one from Apple</a>.</p>
    </section>

    <section class="guide-page-section">
        <h3>16. Copyright information</h3>
        <p>A line that is used to show who has copyright of the application. For example: 2016 Magic Doctor Ltd.</p>
    </section>

    <section class="guide-page-section">
        <p>I hope the checklist was useful for you!</p>
        <p>If you also have an Android app, I have written similar articles about what <a href="/guides/what-information-is-needed-for-a-google-play-store-listing/">information you need to submit to the Google Play Store</a> and the <a href="http://0.0.0.0:3000/guides/what-information-is-needed-for-an-amazon-app-store-listing/">information you need to submit to the Amazon App Store</a>.</p>
        <p>If you need help with developing or improving your mobile app, please get in touch with me.</p>
    </section>

    <section class="guide-page-section guide-page-contact">
        {{> contact-button }}
    </section>
</div>