---
title: What information is needed for an Amazon App Store listing?
layout: layout.hbs
twitter: true
priority: 0.8
collection: guides
---

<div class="guide-page">
    <section class="guide-page-section">
        <h2>What information is needed for an Amazon App Store listing?</h2>
        <p>You’ve designed a brilliant app, built it, and <a href="https://developer.amazon.com/">signed up for an Amazon Developer Account</a>, but you need to create the perfect listing to show it off to the world.</p>
        <p>To create an amazing listing, it is very useful I have a checklist of each item. Without going into the developer console and looking around, there is very little information about what is required for your listing.</p>
        <p>Below, I’ve published the checklist I send to my clients, with all the required information for an Amazon App Store listing. Hopefully, it’s useful for you too!</p>
    </section>

    <section class="guide-page-section">
        <h3>1. App Name</h3>
        <p>Used as the name of your application in search results and on the details page. It can be different from the name that is displayed on the user’s home screen once they have downloaded your app. You can use a maximum of 250 characters.</p>
        <p>I recommend you try and put the main keywords you think people will be searching for inside the title, for example use <em>Magic Doctor — Symptom Checker</em> instead of just <em>Magic Doctor</em>.</p>
    </section>

    <section class="guide-page-section">
        <h3>2. Category</h3>
        <p>This changes which category your application is shown under in the App Store. Most categories have optional further sub-categories, but there are way too many to list here. Take a look at the options provided when you choose your category and see if any sub-categories seem to fit your app.</p>
        <ul>
            <li>Books &amp; Comics</li>
            <li>Business</li>
            <li>Communication</li>
            <li>Customization</li>
            <li>Education</li>
            <li>Finance</li>
            <li>Food &amp; Drink</li>
            <li>Games</li>
            <li>Health &amp; Fitness</li>
            <li>Kids</li>
            <li>Lifestyle</li>
            <li>Local</li>
            <li>Magazines</li>
            <li>Medical</li>
            <li>Movies &amp; TV</li>
            <li>Music &amp; Audio</li>
            <li>News</li>
            <li>Novelty</li>
            <li>Photo &amp; Video</li>
            <li>Productivity</li>
            <li>Reference</li>
            <li>Shopping</li>
            <li>Social</li>
            <li>Sports</li>
            <li>Transportation</li>
            <li>Travel</li>
            <li>Utilities</li>
            <li>Weather</li>
        </ul>
    </section>

    <section class="guide-page-section">
        <h3>3. Short description</h3>
        <p>A short description description about your application which will be displayed on the mobile version of the Amazon App Store. Carefully select a set of keywords that best represent your app and use them in your app description. You can use a maximum of 1200 characters.</p>
    </section>

    <section class="guide-page-section">
        <h3>4. Full description</h3>
        <p>A longer description description about your application which will be displayed on the Amazon.com version of the Amazon App Store. You can use a maximum of 4000 characters.</p>
    </section>

    <section class="guide-page-section">
        <h3>5. Production description bullets</h3>
        <p>Three to five concise app features, each on a new line. These product features will appear on the Amazon.com website.</p>
    </section>

    <section class="guide-page-section">
        <h3>6. Keywords</h3>
        <p>Search terms used to increase the discoverability of your app. Use a comma or whitespace to separate your terms. You are allowed up to 30 keywords, with no character length limit.</p>
    </section>

    <section class="guide-page-section">
        <h3>7. App icon</h3>
        <p>You need to provide a copy of the app icon in two sizes:</p>
        <ul>
            <li>114 x 114px — PNG (with transparency)</li>
            <li>512 x 512px — PNG (with transparency)</li>
        </ul>
    </section>

    <section class="guide-page-section">
        <h3>8. Screenshots</h3>
        <p>You can provided between 3 and 10 PNGs or JPGs in any of these sizes:</p>
        <ul>
            <li>800 x 480px</li>
            <li>1024 x 600px</li>
            <li>1280 x 720px</li>
            <li>1280 x 800px</li>
            <li>1920 x 1080px</li>
            <li>1920 x 1200px</li>
            <li>2560 x 1600px</li>
        </ul>
        <p>You can reverse the dimensions for landscape screenshots.</p>
    </section>

    <section class="guide-page-section">
        <h3>9. Promotional image</h3>
        <p>You need to provide an image at 1024 x 500px (landscape only) as a PNG or JPG which will be used as a promotional banner for you application.</p>
    </section>

    <section class="guide-page-section">
        <h3>10. Videos</h3>
        <p>You can provide up to 5 videos to promote your application. They must be in on of MPEG-2, WMV, MOV, FLV, AVI, or H.264 MPEG-4 formats and be 720–1080px wide (4:3 or 16:9) at 1200 kbps or higher.</p>
    </section>

    <section class="guide-page-section">
        <h3>11. Pricing</h3>
        <p>You must decide how your application is priced. With Amazon there is an addition choice in addition to the standard free, paid, and in-app purchase options. You can also choose to have you application distributed as part of <a href="https://developer.amazon.com/underground">Amazon Underground</a>.</p>
    </section>

    <section class="guide-page-section">
        <h3>12. Support details</h3>
        <p>You must provide these customer support details for the application, which will be included in the app store listing:</p>
        <ul>
            <li>Support email address</li>
            <li>Support phone number</li>
            <li>Support website address</li>
        </ul>
    </section>

    <section class="guide-page-section">
        <h3>13. Privacy policy URL</h3>
        <p>If you application collects any personal information, you must provide a website URL to your privacy policy.</p>
    </section>

    <section class="guide-page-section">
        <h3>14. SKU Number</h3>
        <p>A unique bit of text you use internally for accounting purposes. It will appear on internal sales reports and uniquely identified each app if you have more than one. For most people, I recommend using a lowercase version of the app name with no spaces.</p>
    </section>

    <section class="guide-page-section">
        <h3>15. Availability</h3>
        <p>When you submit your application you can choose to have it publicly available as soon as it is accepted by the review team, or you can choose a specific date when the application will be available.</p>
    </section>

    <section class="guide-page-section">
        <p>I hope the checklist was useful for you!</p>
        <p>You’ll also likely be releasing your app to the Google Play Store. I have published another article about the <a href="/guides/what-information-is-needed-for-a-google-play-store-listing/">information needed to submit a Google Play Listing</a>. If you are releasing an iOS app, I have written a similar article for what <a href="/guides/what-information-is-needed-for-an-apple-app-store-listing/">information you need for an Apple App Store listing</a>.</p>
        <p>If you need help with developing or improving your mobile app, please get in touch with me.</p>
    </section>

    <section class="guide-page-section guide-page-contact">
        {{> contact-button }}
    </section>
</div>