{{ define "main" }}
    <section class="react-native-upgrade-index">
        {{ with .Content }}
            <header>
                {{ . }}
            </header>
        {{ end }}

        {{- partial "react-native-upgrade-callout.html" . -}}

        {{ range .Pages.Reverse }}
            <div class="react-native-upgrade-index-entry">
                <h3><a href="{{ .RelPermalink }}">{{ with .Params.SectionTitle }}{{ . }}{{ else }}{{ .Title }}{{ end }}</a></h3>
                <p>{{ .Summary }}</p>
            </div>
        {{ end }}
    </section>
{{ end }}