---
title: Matt Oakes — Mobile & React Native App Developer in Brighton & London
layout: layout.hbs
twitter: true
priority: 1.0
---

<div id="services">
    <section id="how-i-can-help" class="services-section">
        <header>
            <p>I work with a range of companies, from those who realise they need to "Go Mobile" through to those whoes current mobile presence is underperforming and needs improvement.</p>
        </header>
        <div class="row">
            <div id="go-mobile" class="help-type">
                <h3>Go mobile</h3>
                <p>Not having a well made and easy to use mobile app is no longer an option for many companies. Users expect one and they expect it to deliver them value. This is where I can help.</p>
                <div class="buttons">
                    <div class="button"><a href="/services/go-mobile/">Learn More</a></div>
                </div>
            </div>
            <div id="improve-your-app" class="help-type">
                <h3>Improve your app</h3>
                <p>Just having a mobile presence is not enough — it must provide value to your users to deliver a return on your investment. If your app is underperforming, I can help you.</p>
                <div class="buttons">
                    <div class="button"><a href="/services/improve-your-mobile-app/">Learn More</a></div>
                </div>
            </div>
            <div id="improve-your-app" class="help-type">
                <h3>Upgrade React Native</h3>
                <p>If you have an app stuck on a old version of React Native you will be missing out on critical bug fixes, performance improvements, and features. I can upgrade your app for you.</p>
                <div class="buttons">
                    <div class="button"><a href="/services/upgrade-react-native/">Learn More</a></div>
                </div>
            </div>
        </div>
    </section>
</div>
