#index {
    & .index-section {
        margin: 4rem 0;

        & header {
            margin-bottom: 1.3rem;
        }

        &>.row {
            margin-top: 2rem;
        }

        & .button {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    & section#introduction {
        & div#tagline {
            margin: 0 2rem 4rem 2rem;

            & p {
                font-family: Unna, serif;
                font-weight: 400;
                text-rendering: optimizeLegibility;
                font-size: 3rem;
                line-height: 4rem;
                text-align: center;
            }
        }
    }

    & .help-type, & .work-entry, & .me-trait {
        lost-column: 1/1;
    }
}

@media (min-width: 900px) {
    #index {
        & .help-type, & .work-entry {
            lost-column: 1/2;
        }

        & .me-trait {
            lost-column: 1/3;
        }

        & #why-me {
            & header {
                & p {
                    lost-column: 2/3;
                }

                & #profile-picture {
                    lost-column: 1/3;
                }
            }
        }
    }
}
