#services {
    & .services-section {
        margin: 2rem 0;

        & header {
            margin-bottom: 1.3rem;
        }

        & .button {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    & .help-type {
        lost-column: 1/1;
        margin-bottom: 1rem;
    }
}

@media (min-width: 500px) {
    #services {
        & .services-section {
            margin: 5rem 0;
        }
    }
}

@media (min-width: 900px) {
    #services {
        & .services-section {
            margin: 4rem 0;

            &>.row {
                margin-top: 2rem;
            }
        }

        & .help-type {
            margin-bottom: 0;
            lost-column: 1/3;
        }
    }
}
