.service {
    margin: 1.5rem 0;

    & .service-section {
        margin: 1.5rem 0;
    }

    & .service-contact {
        text-align: center;

        & p {
            font-family: var(--headerFontFamily);
            font-weight: 400;
            text-rendering: optimizeLegibility;
            font-size: 2rem;
            line-height: 2.8rem;
            text-align: center;
            margin: 2rem 0;
        }
    }
}

@media (min-width: 500px) {
    .service {
        margin: 2rem 0;

        & .service-section {
            margin: 2rem 0;
        }

        & .service-contact {
            & p {
                font-size: 2.4rem;
                line-height: 4rem;
            }
        }
    }
}
