---
title: React Native Training Course for React Web Developers
collectionTitle: React Native for React Web Developers
layout: layout.hbs
twitter: true
priority: 0.9
collection: training
---

<div class="training-page">
    <section class="training-page-section">
        <h2>React Native Training
            <small>for React Web Developers</small></h2>
        <p>React Native for React Web Developers is a 2-day training course which is aimed at experienced React web developers who want to make the step towards app development using React Native.</p>
        <p>This is a private course where I come to your company and train up to 6 of your developers in a private session. I can run React Natvie training sessions in Brighton, London, or wherever you company is based in the United Kingdom.</p>
    </section>

    <section class="training-page-section training-page-contact-link">
        <div class="buttons">
            <div class="button"><a href="#contact-form">Contact me for details</a></div>
        </div>
    </section>

    <section class="training-page-section">
        <h3>Prerequisites</h3>
        <p>This course is designed for developers who are currently working on production-ready React web applications. It assumes the attendees have knowledge of the React component lifecycle, effective state management, and the React ecosystem.</p>
        <p>This allows us to get directly into the differences in the mobile ecosystem and topics which are specific to React Native.</p>
    </section>

    <section class="training-page-section">
        <h3>Course Content</h3>
        <p>Throughout this course, you will learn about the topics which will allow you to get up to speed with developing React Native applications.</p>
        <ul>
            <li>Introduction to the React Native ecosystem</li>
            <li>Mobile app navigation patterns</li>
            <li>Understanding the React Native bridge, Fabric, and Turbo Modules</li>
            <li>The iOS build system</li>
            <li>The Android build system</li>
            <li>Using push notifications</li>
            <li>Using the phone sensors for location and other connection</li>
            <li>Signing and releasing mobile applications with Fastlane</li>
        </ul>
    </section>

    <section class="training-page-section">
        <h3>Learning Outcomes</h3>
        <p>By the end of the course, you should have a good overview of how developing mobile apps differs from developing for the web. You will be able to start your own React Native project and know how to make the navigation system work well for small screens. You will also know about the most important mobile-specific features and how to use them. You will also be able to build, sign, and release the app onto the Google Play and Apple App stores.</p>
    </section>

    <section id="contact-form" class="training-page-section">
        <h3>Contact me for details</h3>
        <form action="https://formcarry.com/s/rk_AxujrG" method="POST" accept-charset="UTF-8">
            <input type="hidden" name="_gotcha">
            <input type="hidden" name="course" value="react-native-for-react-web-developers">
            <fieldset>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
            </fieldset>
            <fieldset>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </fieldset>
            <fieldset>
                <label for="details">Message</label>
                <textarea name="details" rows="5" required></textarea>
            </fieldset>
            <input class="button submit" type="submit" value="Send">
        </form>
    </section>
</div>
